<!-- 3.En el archivo "lista.html", organiza el contenido en cuatro secciones
distintas, cada una
mostrando un tipo diferente de lista: ordenada, desordenada,
definición y dependiente. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="../templates/galeria.html">Galeria</a>
            <a href="../templates/tabla.html">Tabla</a>
            <a href="./lista.html">Listas</a>
            <a href="www.https://google.com" target="_blank">Google</a>
        </nav>
    </header>
    <section>
        <!-- LISTA DEPENDIENTE -->
        <ul>
            <li>
                Auto
            </li>
            <ul>
                <li>
                    Casa
                </li>
            </ul>
        </ul>
    </section>
    <section>
        <!-- LISTA DE DEFINICION -->
        <dl>
            <dt>Lacteos</dt>
            <dd>Leche</dd>
            <dt>Carnes</dt>
            <dd>Vacio</dd>
        </dl>
    </section>
    <section>
        <dd>
            <dt></dt>
        </dd>
    </section>
    <section>
        <!-- LISTA DESORDENADA -->
        <ul>
            <li>
                Auto
            </li>
            <li>
                Casa
            </li>
        </ul>
    </section>
</body>
</html>