<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../templates/galeria.html">Galeria</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/lista.html">Listas</a>
        <a href="www.https://google.com" target="_blank">Google</a>
    </nav>
    <section>
        <div>
            <!-- 5.En el archivo "galeria.html", añade una nueva sección.
            Dentro de esta sección,
            incluye un contenedor que contenga: una imagen, un subtítulo,
            una descripción,
            un enlace para abrir la imagen en una nueva ventana,
            opciones para descargar la imagen,
            descargar un PDF y enviar un correo. -->
            <img id="image_tiger" src="../image/tigre.jfif" alt="tigre">
            <h2>Un tigre</h2>
            <p>En esta imagen se aprecia un fabuloso</p>
            
             <ul>
                <!-- Descargar imagen -->
                <li><a href="../image/tigre.jfif" download="tigre.jfif">Descargar imagen</a></li>
                <!-- descargar pdf -->
                 <li>
                    <a href="../pdf/tigre.pdf" download="tigre.pdf">Descargar PDF</a>
                </li>
                <li>
                    <!-- enviar mail -->
                    <a href="mailto:
                    ?subject=Hola&body=Hola, te envio esta imagen">Enviar correo</a>
                </li>
             </ul>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas sapiente quia ea doloremque veritatis consequuntur magnam provident nisi, molestias odit similique eligendi laborum. Quod labore minus iusto, animi vitae consequuntur!
        Sequi soluta illum aut, quibusdam id libero reiciendis distinctio doloribus sit illo delectus laudantium dolore perspiciatis harum recusandae accusantium quia itaque natus architecto, temporibus repudiandae magnam aliquam nostrum doloremque! Esse?
        Quo perspiciatis obcaecati esse et fugit quae officia facilis vero. Ea quis sed minus cum? Doloremque a molestias eum minima tempora sapiente, quae at repudiandae fugiat vero eius deserunt! Quia.
        Quia eius atque, ratione vero tempora iste quae exercitationem tenetur rerum assumenda inventore dolore enim iusto sapiente impedit nulla, voluptatem odit sint accusantium reiciendis obcaecati modi accusamus temporibus quisquam. Repellat.
        Eaque ut deleniti, officia, officiis at laborum et quasi maxime, odio voluptatibus recusandae aspernatur nobis velit? Consectetur, rerum quae numquam nostrum, neque accusamus quisquam animi saepe odio quibusdam nulla culpa.
        Voluptates minima ipsum, numquam fuga dicta itaque quidem rem earum, natus a exercitationem? Officia, dolorem ducimus reprehenderit eligendi placeat voluptatibus quaerat fugiat nulla modi explicabo laudantium, commodi quisquam ea temporibus.
        Magnam accusamus voluptates dignissimos at laboriosam magni libero sed nam odio dolor, aut eum, esse repellendus laborum maiores, quae non unde voluptate nesciunt voluptas eaque nobis dolorum? Laudantium, magni doloribus!
        Sint aliquid harum dignissimos vitae ullam minus architecto velit dolorum, aperiam voluptates officiis. Eligendi vitae reiciendis dolores labore architecto similique magni, nisi, doloremque sit praesentium minus officia natus autem corporis.
        Deleniti ipsum recusandae aliquam, minima sequi libero quis vitae deserunt quasi dignissimos maxime rerum dolorum, corporis magni eveniet sint eaque. Cum, veritatis eum. Suscipit magni quas recusandae minus autem eum.
        Vero cupiditate dicta, pariatur esse repellat fugiat tenetur doloribus exercitationem eos maxime consectetur ipsa unde dolorum rem numquam, architecto id odit rerum veniam. Porro totam rerum omnis cumque quaerat libero.</p>
    </section>
    <footer><a href=#image_tiger>Ver un tigre :)</a></footer>
</body>
</html>